<!DOCTYPE html>
<html>
    <head>
        <title>TehranJs | تهران جی اس</title>
        <%= stylesheets_link_tag 'application.css' %>
        <%= javascript_link_tag 'application.js' %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>